.wappgo-means-container {
  background-image: url("../public/assets/service-bg.png");
  background-repeat: no-repeat;
  background-position: top right;

    @media (max-width: 1024px) {
      padding: 40px;
    }
    @media (max-width: 580px) {
      padding: 20px;
    }
  }
  .contact-form-container {
    margin: 80px;
    padding: 35px;
    background-color: #f9f9fa;
    
    
    /* background-image: url("../public/assets/service-bg.png");
    background-repeat: no-repeat;
    background-position: right top; */
    @media (max-width: 1024px) {
      padding: 40px;
      margin: 40px;
    }
    @media (max-width: 460px) {
      padding: 20px;
      margin: 20px;
    }
  }