.cyber-container1 {
    background-image: url("../vedios/27725-365890983_small-ezgif.com-video-to-gif-converter.gif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 5rem 5rem 6rem;
  }

  @media (max-width: 425px) {
    .cyber-container1{
      padding: 5rem 1rem;
    }
    .start-btn{
      padding: 1rem 3rem;
    }
    .partners-container{
      padding: 40px 0 40px 0px !important;
    }
    .security-items-wrapper{
      display: flex;
      justify-content: center !important;
    }
  }