.clients-container {
  /* background-image: url("../assets/Cone-02.png"); */
  background-repeat: no-repeat;
  background-position: left center;
  width: 100%;
  max-width: 1450px;
  margin: 24px auto;
  @media (max-width: 1024px){
    background-image: none;
  }
}
.clients-container h6{
margin-bottom: 20px;
}
.Testimonials-title{
  color: #000;
font-family: Poppins;
font-size: 40px;
font-weight: 600;
line-height: 56px;
margin: 0;
}
