.cyber-container1 {
    background-image: url("../public//vedios/27725-365890983_small-ezgif.com-video-to-gif-converter.gif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 5rem 5rem 6rem;
  
  
   
  }